<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= workout.title%></div>
    <form class="ui form" action="/workout/<%= workout._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="workout[title]" value="<%= workout.title%>">
        </div>
        
        <div class="field">
            <label>Mileage</label>
            <input type="number" min="0" step="0.01" name="workout[mileage]" value="<%= workout.mileage %>">
        </div>
        
        <div class="field">
            <label>Date</label>
            <input type="date" name="workout[date]" value="<%= workout.date %>">
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="workout[desc]"><%= workout.desc %></textarea>
        </div>
        <input class="ui green big basic button" type="submit">
    </form>
</div>

<% include ../partials/footer %>