<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Latest Workouts</div>
    <a class="ui floated basic green button" href="/workouts/new">Add Workout</a>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% workouts.forEach(function(workout) { %>
                <div class="item">
                    <div class="content">
                        <a class="header" href="/workouts/<%= workout._id %>"><%=workout.title%></a>
                        <div><em>Posted by <%= workout.author.username%></em></div>
                        <div class="description">
                            <p><%= workout.date.toDateString() %></p>
                            <p><%= workout.mileage %> miles</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/workouts/<%= workout._id %>">
                                Read More
                            </a>    
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>   
    </div>
</div>

<% include ../partials/footer %>